body{
    margin: 0 px;
    padding: 0px;
}
ul{
    list-style: none;
}
li{
    cursor: pointer;
}
button {
    padding: 10px 40px;
    color: blue;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-around;
}
.modelPhone.active, .modelLaptop.active, .modelComputer.active{
    display: block;
}
#discriptionIphone.active1, #discriptionSamsung.active1, #discriptionMeizu.active1,#discriptionAser.active1, #discriptionLenovo.active1, #discriptionHp.active1, #discriptionAsus.active1, #discriptionArtline.active1{
    display: block;
}
.d-none {
    display: none;
}
.modelPhone, .modelLaptop, .modelComputer, #discriptionIphone, #discriptionSamsung, #discriptionMeizu, #discriptionAser, #discriptionLenovo, #discriptionHp, #discriptionAsus, #discriptionArtline{
    display: none;
}

